@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Alison Karas - AI Playground</title>
</head>
<body>
 <header>
     <h1>Welcome to Alison Karas' AI Playground</h1>
 </header>
 <main>
     <section id="about-me">
         <h2>About Me</h2>
         <p>Hello! I'm Alison Karas, married since 2004 and a proud father of two boys. This is my personal site that is used to play with Generative AI such as Text and Image generation.</p>
     </section>
     <section id="professional-career">
         <h2>Professional Career</h2>
         <p>I am passionate about leveraging technology to solve complex problems, improve business processes, and drive digital transformation. My goal is to continue contributing to innovative projects that make a significant impact while mentoring and developing the next generation of IT professionals.</p>
         <p>Do you want to know anything about my professional career? Head over to the <a href="Chat">Chat page</a> where you can ask anything related to my CV.</p>
     </section>
     <section id="image-generation">
         <h2>Image Generation AI</h2>
         <p>I'm excited to offer you an image generation AI tool. Feel free to use it! Just go to the <a href="Image">Image page</a> to get started.</p>
     </section>
 </main>
 <footer>
    <div class="footer-container">
        <p>&copy; 2024 Alison Karas. All rights reserved.</p>
    </div>
</footer>
</body>
</html>